<template name="orionDictionaryUpdate">
  {{# Layout template="orionSmallContentOffset" }}
    {{# Layout template="orionTitle" }}
      {{ i18n 'dictionary.update.title' }}
    {{/ Layout }}
    {{# Layout template="orionContentContainer" }}

      <p class="orion message">
        {{> reactiveTemplate template="tabs" data=getDataForTabs }}
      </p>

      {{# autoForm collection="orion.dictionary" id="updateDictionaryForm" type="update" doc=getDoc }}
        {{# if currentCategory }}
          {{> afQuickFields name=currentCategory }}
        {{/ if }}

        <div class="orion action right">
          <button class="orion primary button">{{ i18n 'global.save' }}</button>
        </div>

      {{/ autoForm }}
    {{/ Layout }}
  {{/ Layout }}
</template>
