<template name="orionRegisterWithInvitation">
  {{# contentFor "title" }}
    {{ i18n 'accounts.registerWithInvitation.title' }}
  {{/ contentFor }}
  {{# if invitation }}

    {{# if error }}
      <div class="orion negative alert">
        {{ error }}
      </div>
    {{ else }}
      <p class="orion center text">
        <label class="orion label">{{ invitation._id }}</label>
      </p>
    {{/ if }}

    <form class="orion invite register form">
      <div class="orion field">
        <label for="email" class="orion label">{{i18n 'accounts.registerWithInvitation.fields.email'}}</label>
        {{# if invitation.email }}
          <input type="email" class="orion input" name="email" value="{{ invitation.email }}" disabled=true>
        {{ else }}
          <input type="email" class="orion input" name="email" placeholder="{{i18n 'accounts.registerWithInvitation.fields.email'}}">
        {{/ if }}
      </div>

      <div class="orion field">
        <label for="name" class="orion label">{{i18n 'accounts.registerWithInvitation.fields.name'}}</label>
        <input type="text" class="form-control" name="name" placeholder="{{i18n 'accounts.registerWithInvitation.fields.name'}}">
      </div>

      <div class="orion field">
        <label for="password" class="orion label">{{i18n 'accounts.registerWithInvitation.fields.password'}}</label>
        <input type="password" class="orion input" name="password" placeholder="{{i18n 'accounts.registerWithInvitation.fields.password'}}">
      </div>

      <div class="orion field">
        <label for="password-confirm" class="orion label">{{i18n 'accounts.registerWithInvitation.fields.confirmPassword'}}</label>
        <input type="password" class="orion input" name="password-confirm" placeholder="{{i18n 'accounts.registerWithInvitation.fields.confirmPassword'}}">
      </div>

      <div class="orion actions">
        <button class="orion primary button">{{i18n 'accounts.registerWithInvitation.registerButton'}}</button>
      </div>
    </form>
  {{/ if }}
</template>
